*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Poppins';
}