*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: $very-dark-cyan;
}

header {
    background-color: $very-pale-cyan;
}

main {
    padding-top: 4rem;

    @include desktop {
        margin-top: 6.1rem;
    }
}

footer {
    padding-top: 8rem;
    background-color: $very-dark-cyan;
    color: $very-pale-cyan;

    @include desktop {
        padding-top: 11.5rem;
    }

    svg {
        fill: $very-pale-cyan;
        transition: fill .3s;
    }
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Poppins';
}