*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: $very-dark-cyan;
}

header {
    background-color: $very-pale-cyan;
    display: grid;
}

main {
    padding-top: 4rem;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Poppins';
}