.button {
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 700;
}
.button--try {
    padding: 8px 3em;
    background-color: #fff;
    color: initial;
    font-size: 11px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}
.button--primary {
    padding: 12px 3.5rem;
    background-color: $pink;
    color: $very-pale-cyan;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}