.info-contact, .info-site, .info-social, .copyright, .attribution {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.footer-content {
    @include desktop {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.footer-logo {
    width: 160px;
    margin-left: 1.2rem;

    @include desktop {
        width: 230px;
        margin-bottom: 2rem;
    }

    svg {
        width: 100%;
    }
}

.info { 
    &-content {
        display: grid;

        @include desktop {
            grid-template-columns: 1.5fr 2fr 1fr;
        }
    }
    &-contact {
        font-size: 1rem;
        margin-bottom: 3.5rem;

        @include desktop {
            margin-bottom: 0;
        }

        &__paragraph {
            display: flex;
            line-height: 1.5;
            margin-bottom: 1.5rem;

            &:first-of-type {
                @include desktop {
                    margin-top: 0;
                }
                svg {
                    margin-right: 1.5rem;
                }
            }

            svg {
                flex-shrink: 0;
                margin-right: 1.2rem;
            }
        }
    }

    &-site {
        display: grid;
        gap: 1.5rem;
        justify-items: start;
        margin-bottom: 3.5rem;

        @include desktop {
            width: 60%;
            grid-template-columns: 1fr 1fr;
            align-content: start;
            margin-bottom: 0;
        }

        &__link {
            color: $very-pale-cyan;
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        @include desktop {
            margin-bottom: 0;
        }

        &__icon {
            display: block;
            margin-right: 1rem;
            border-radius: 50%;
            border: 1px solid #fff;
            width: 34px;
            height: 34px;
            padding: 8px;
            
            display: flex;
            align-items: center;
        }

        svg {
            width: 100%;
            display: inline-block;
        }
    }
}

.info__author {
    padding: 0 0 1rem 0;
    text-align: center;

    @include desktop {
        text-align: right;
    }

    &-copyright {
        font-size: 12px;
    }
    &-attribution {
        font-size: 11px;
    }
    &-link {
        color: $pink;
    }
}